[2015-06-03 13:11] eg270-unikent commented on #605
Hi @aw285-unikent this has been rolled to test today. Can you please review and let me know if you want to come over to go through how it works?

[2015-06-05 09:06] aw285-unikent commented on #605
Hi @eg270-unikent thanks - it looks realyl good. Are you free on Monday to go over this with both @frithassell Fritha and I at the same time please? We can pop over to you?

[2015-06-05 09:15] aw285-unikent commented on #599
Thanks @jt353-unikent I really like all of these options. I will discuss this with @STC21-UniKent and @frithassell on Monday to get their thoughts too and perhaps we could have a quick catch up next week. Is the right-hand column in your designs above 33% or the same as the width on our live pages?

[2015-06-05 10:13] eg270-unikent commented on #605
Hi @aw285-unikent I'm afraid I'm not in on Monday. Is there another day next week that you both can do?

[2015-06-05 10:42] aw285-unikent commented on #605
@eg270-unikent how about Wed?

[2015-06-05 11:45] aw285-unikent opened #705 "programme not showing in course search"
@eg270-unikent
Hello, I noticed this programme is not showing in the course search but is live when you go to the URL directly.

I'm not sure why this would be. Please could you take a look?

Many thanks
Angela

https://www.kent.ac.uk/courses/postgraduate/359/international-masters-in-finance-investment-and-risk
https://webtools.kent.ac.uk/programmes/2015/pg/programmes/edit/359

[2015-06-05 15:05] eg270-unikent commented on #705
Hi @aw285-unikent, what browser are you using? I'm not experiencing this issue in Chrome:

![screenshot](https://cloud.githubusercontent.com/assets/6604537/8008855/98639710-0b9c-11e5-8e0c-45356318b41c.PNG)

[2015-06-05 15:08] aw285-unikent commented on #705
Very odd. It definitely wasn't showing earlier (would have been using chrome of FF) - I checked several times using both course searches to check I hadn't missed it. Hey-ho, it's there now! Thanks

Angela

[2015-06-05 15:08] #705 closed

[2015-06-05 15:11] eg270-unikent commented on #605
@aw285-unikent that's fine, I'll pop something in your calendars.

[2015-06-09 08:43] aw285-unikent opened #706 "Add information on how to apply to the apply page"
As EMS

I would like to add information on how to apply to the apply page as per Jonathan's @jt353-unikent  design.

[Still need to discuss how this would work for programmes that link straight to SITS (eg where there is only one award and it can only be studied part-time or full-time but not both. Also need to discuss the content of this information).

So that users have more contextualising info

[2015-06-09 09:07] aw285-unikent opened #707 "Add space for an alumni profile/quote on the 'careers' tab."
As EMS

I would like to allow schools the potential to allow/or link to graduate/alumni profile or quotes on the careers tab.

[very much on the backlog - needs to be discussed further within EMS].

[2015-06-09 09:21] eg270-unikent commented on #697
Hi @STC21-UniKent this was rolled out today for the courses pages. There should already be tracking on the snippet as of last Thursday - 4th June.

[2015-06-09 09:22] eg270-unikent commented on #687
@aw285-unikent this has been rolled out today. Can you check that you're happy with this?

[2015-06-09 09:27] eg270-unikent commented on #692
This has been rolled out today. @aw285-unikent happy for this issue to be closed?

[2015-06-09 09:27] eg270-unikent commented on #683
This was rolled out a while ago so I'm closing this issue.

[2015-06-09 09:27] #683 closed

[2015-06-09 09:46] STC21-UniKent commented on #697
Thanks Edele, had a quick look and all seems good.

All the best

Sam

From: Edele Gormley [mailto:notifications@github.com]
Sent: 09 June 2015 10:21
To: unikent/of-course
Cc: Sam Charman
Subject: Re: [of-course] Add administrative school to programmes plant page titles (#697)

Hi @STC21-UniKent<https://github.com/STC21-UniKent> this was rolled out today for the courses pages. There should already

[2015-06-09 09:46] #697 closed

[2015-06-09 12:31] jt353-unikent commented on #706
![course-application-details](https://cloud.githubusercontent.com/assets/4367005/8057737/d338d9ba-0eab-11e5-9811-62046482e023.jpg)

[2015-06-11 11:56] aw285-unikent opened #708 "Make subject categories file in alphabetical order"
@eg270-unikent

AS EMS

I would like the subject categories on 'All subject categories' course filter drop-down list to file in alphabetical order.

http://www.kent.ac.uk/courses/postgraduate/search

To help with selection.

Not sure if this is more of a bug than a 'story' as UG seems to be OK. PLease could you take a look in the next BAU?

Thanks

Angela

[2015-06-12 13:04] aw285-unikent opened #709 "Link to new student blogs from course pages"
As EMS

I would like a link to student blogs on our course pages as of mid-september when Sam @STC21-UniKent  launches the blogs.

To drive traffic to the new content.

[Sam has some mock ups here: ]
![blog-graphic1](https://cloud.githubusercontent.com/assets/2726241/8130614/bdd0049c-110b-11e5-8f2a-2a5807f238fe.gif)
![blog-grpahic2](https://cloud.githubusercontent.com/assets/2726241/8130615/bf4bf5

[2015-06-12 15:56] aw285-unikent opened #710 "Tool tips for awards?"
As EMS

We would like to consider how to guide users to information about what each award (MPhil, PhD, MA, etc. involves).

So that users can access this information.

Users were confused about the awards in the user testing. We have this info in our 'Types of Degree' section but this is virtually impossible to find from the programme pages due to the lack of left hand nav:

https://www.kent.ac.uk

[2015-06-15 07:21] STC21-UniKent commented on #709
I'll keep you updated on the launch date, I'm hoping to go live in mid-sept, but all depends how much content I get from the bloggers over the summer. Early October may be better once they are back.

I can keep you updated.

Thanks

Sam

[2015-06-15 08:32] eg270-unikent commented on #709
Hi @aw285-unikent and @STC21-UniKent where were you envisioning these panels being located on the course pages?

[2015-06-15 09:39] aw285-unikent commented on #709
HI @eg270-unikent yes somewhere on the course pages. We're open to design ideas.

[2015-06-15 09:49] eg270-unikent commented on #709
@STC21-UniKent can you arrange a meeting with Jonathan to discuss as he's very keen to help you out with these designs.

[2015-06-15 10:33] eg270-unikent commented on #678
Hi @aw285-unikent this has now been fixed on live. Closing

[2015-06-15 10:33] #678 closed

[2015-06-16 12:27] gjmh-unikent commented on #663
ok think i have got to the bottom of this now, looks like we were not nuking one of the many many caches correctly.
I have a fix ready and will roll out in a suitable booking slot, we will nuke all the caches at the same time to fix any similar issues with supposedly unpublished programmes and it should not happen again *crosses fingers*.

see:  https://github.com/unikent/programmes-plant/pull/843

[2015-06-16 15:52] gjmh-unikent commented on #685
Having looked at how this is currently implemented i would not recommend any changes.

The search results are ranked by "relevance" a metric devised by taking into account a number of factors and searching in a number fields not displayed in the results.

Whilst in the particular case shown in in your screenshot, grouping or sorting the results alphabetically would make it easier to read in many o

[2015-06-18 09:55] aw285-unikent commented on #685
@gjmh-unikent Hi Greg, thank looks much better thank you :)

Angela

[2015-06-22 09:49] aw285-unikent opened #713 "Change UG course page message if there is not a matching programme"
As EMS

I would like the message that reads:

This is a 2016 entry programme. Would you like to view Media Arts for 2015 entry?

At the top of the course pages to just read:

'This is a 2016 entry programme.'

If there is not a corresponding entry in the 2015 prospectus eg in the case of Media Arts

http://www.kent.ac.uk/courses/undergraduate/1365/media-arts#!overview

So users are not being direc

[2015-06-22 10:55] aw285-unikent opened #714 "Set part-time overseas fees to NA"
AS EMS

We would like part-time overseas fees to be set to N/A on the course pages.

To discourage needless applications from overseas students who cannot study part-time due to visa restrictions.

[There may be another ticket for this story or it may be attached to a wider issue] but I am adding it again in case it isn't].

[2015-06-25 10:02] aw285-unikent opened #715 "Clearing button on UG 2015 course pages"
@eg270-unikent @msf4-unikent

As EMS

For Clearing (7th July onwards), I would like the 'Apply, enquire or order a prospectus' box on the right-hand side of the 2015 UG course pages to be replaced by a box that says 'Is this course in Clearing?'. This wil point to a URL that can be set and changed by the EMS web team via the programmes plant.

[The URL will go to a Clearing vacancies html page tha

[2015-06-25 10:04] eg270-unikent commented on #715
Hi @aw285-unikent this will need to be done during our BAU days next Monday and Tuesday, but it can be rolled out on Tues 7th.

I'll add this to the backlog for BAU with a relatively high priority

[2015-06-25 10:05] aw285-unikent commented on #715
Hi @eg270-unikent I am adding more clearing related stories - was going to email you once I've finished.

[2015-06-25 10:09] aw285-unikent opened #716 "Kill entry requirements tab on UG 2015 pages for Clearing"
@eg270-unikent @msf4-unikent
As EMS

I would like to remove the 'Entry requirements' tab from the 2015 UG course pages as of 7 July for Clearing.

So schools are not publishing pre-Clearing entry requirements.

[2015-06-25 10:14] aw285-unikent opened #717 "Review banners on 2015 and 2016 UG course pages to direct users to clearing"
@eg270-unikent @msf4-unikent
As EMS

I would like to review the current banners on the 2015 and 2016 UG course pages to direct users to Clearing where appropriate. To go live for Clearing on 7 July.

[Please could we discuss this one to finalise the story. It would be good to get web dev's thoughts].

[2015-06-29 14:10] gjmh-unikent commented on #715
@aw285-unikent i have added a "clearing vacancies link" field here:
https://webtools.kent.ac.uk/programmes/2016/globalsettings/edit
please configure as necessary and make live.

You can do this now as it will not be used until the 7th.

[2015-06-29 14:40] gjmh-unikent commented on #717
can you clarify what is required/desired for this? which banners are we referring to?

[2015-06-30 10:32] aw285-unikent commented on #717
@gjmh-unikent

Yes, sure. To explain the background: when Clearing opens (7 July), Clearing applications need to be encouraged to view the 2015 undergraduate prospectus course pages rather than the 2016 ones.

Therefore, last year we had a yellow banner on the following UG 2016 course pages:

http://www.kent.ac.uk/courses/undergraduate/
http://www.kent.ac.uk/courses/undergraduate/search

Directing

[2015-06-30 11:04] aw285-unikent commented on #715
@gjmh-unikent Thanks Greg. I have added the link

https://evision.kent.ac.uk/ipp/clearingvacancylist.htm

and published. Just checking it is definitely OK that those are the 2016 global settings when the link in on the 2015 propsectus?

Thanks

Angela

[2015-06-30 13:32] eg270-unikent commented on #599
@jt353-unikent can you follow up on the above question please?

[2015-06-30 15:48] jt353-unikent commented on #717
@aw285-unikent @gjmh-unikent
Something like this?

![image](https://cloud.githubusercontent.com/assets/4367005/8435166/b574c644-1f47-11e5-8d37-2a0184761d57.png)

[2015-06-30 16:03] aw285-unikent commented on #717
@jt353-unikent @gjmh-unikent Yes please can we go with the banana design... very on-brand.

Actually, I think the other one would be fine!

[2015-07-02 13:05] aw285-unikent commented on #717
@jt353-unikent @gjmh-unikent Would it be possible to remove the break between 'This is a 2016 programme' and 'Clearing applicants..'

[2015-07-06 08:49] eg270-unikent opened #718 "Add location to course summary snippet"
We've added the location to the content snippet http://www.kent.ac.uk/architecture/courses/postgraduate/maud-paris.html but need to do some work on the summary snippet to show locations.

For example https://www.kent.ac.uk/architecture/courses/indexnew.html#!postgraduate-courses-88738be9 - Architecture and Urban Design - MA is offered at both Canterbury and Paris but since EMS changed the programm

[2015-07-06 11:43] eg270-unikent commented on #715
Hi @aw285-unikent the evision link should be updated in the 2015 global settings for this to work. I've edited this on live but this will need published when we go live tomorrow.

[2015-07-06 13:46] eg270-unikent opened #720 "Release plan 7th July"
In order to go live for clearing the following must happen:

- [x] SITS - make evision links live and accessible
- [x] EMS - make static pages at /clearing/ live
- [x] EMS - update 2015 UG global fields with e:vision link on live & publish these
- [x] EMS - push live the learnmore pages for both UG and PG
- [x] Webdev - update paths.php so CLEARING = true
- [x] Webdev - roll out of-course to live

[2015-07-06 13:48] eg270-unikent commented on #720
@aw285-unikent for reference above. This is on www-test today so you can review what the changes will look like and let us know if there are any last-minute changes to any wording on banners etc.

[2015-07-07 09:25] #720 closed

[2015-07-07 09:25] #715 closed

[2015-07-07 09:25] #716 closed

[2015-07-07 09:25] #717 closed

[2015-07-07 09:26] #692 closed

[2015-07-07 09:55] eg270-unikent commented on #605
@aw285-unikent This has been rolled out today. Are you happy for this issue to be closed?

[2015-07-07 11:07] #687 closed

[2015-07-09 15:01] aw285-unikent opened #722 "Student experience page"
As EMS

I would like to have the following student exprience page designed

https://wireframe.cc/nJ9PQq

and to live at:

http://www.kent.ac.uk/courses/undergraduate/why/experience.html

So that the student experience is better showcased to users.

[2015-07-09 15:03] aw285-unikent commented on #722
![studentexperience](https://cloud.githubusercontent.com/assets/2726241/8598688/07348d9e-2654-11e5-8103-6c342ef0a17b.png)

[2015-07-10 13:46] eg270-unikent opened #723 "2016 PG prospectus clone"
As Angela,

I want the PG prospectus clone to be done on the live server on 25th August 2015

so that schools can see and edit their pages in preparation for the 2016 Prospectus going live on 14th September.

- [x] Please can we check the clone mechanism on 24th August (as part of BAU) to ensure everything goes smoothly for 25th August.

The email to schools was:
"As with previous years, we will c

[2015-07-22 14:46] aw285-unikent opened #724 "Notes field on programme pages"
As EMS superusers

We would like a 'notes' field in the superuser view of the programme pages

so we can add notes about the status of a programme.

[2015-07-29 13:29] aw285-unikent commented on #713
Closing - the Clearing messages have negated the need for the above.

[2015-07-29 13:29] #713 closed

[2015-07-29 15:01] eg270-unikent commented on #724
Hi @aw285-unikent how much text do you envisage people entering into this field?

[2015-07-29 15:19] aw285-unikent commented on #685
@gjmh-unikent @eg270-unikent Hello, was this one rolled out? Just wondering if it can be closed?

Thanks
Angela

[2015-07-29 15:21] aw285-unikent commented on #663
@gjmh-unikent Hello, has this one been resolved? Thanks Angela

[2015-07-29 15:27] #620 closed

[2015-07-29 15:28] aw285-unikent commented on #605
@eg270-unikent sorry - missed this. Closing.

[2015-07-29 15:28] #605 closed

[2015-07-29 15:31] aw285-unikent commented on #529
@eg270-unikent @jna-unikent Hello, I've just got to this one above - I think this can be closed as you've looked at the XCRI feed. However, please could you confirm if the description is now pulling in the main subject overview and not the programme overview text. So that's the text that outputs under the 'overview' tab and not the 'course structure' tab on the front end.

Thanks

Angela

[2015-07-29 15:33] aw285-unikent commented on #545
Closing as the requirements are covered under:
https://github.com/unikent/of-course/issues/created_by/eg270-unikent

[2015-07-29 15:33] #545 closed

[2015-07-29 15:41] eg270-unikent commented on #663
Hi @aw285-unikent the fix for this went live over a month ago, are you still having issues?

[2015-07-29 15:44] aw285-unikent commented on #663
@eg270-unikent not that I know of. I will close it and reopen if there are any problems. I don't have a programme to test at the moment.

[2015-07-29 15:44] #663 closed

[2015-07-30 13:24] eg270-unikent commented on #641
@aw285-unikent do you want us to exclude these programmes by default?

[2015-07-30 13:49] aw285-unikent commented on #641
@eg270-unikent yes please

[2015-07-30 14:15] jna-unikent commented on #637
@aw285-unikent Do you know of any examples of courses where a department needs to change the ordering on their courses? I'm struggling to find examples to work with.

[2015-07-30 14:35] aw285-unikent commented on #637
Hi @jna-unikent I'm sorry, it was so long ago that I am struggling to remember the use case for this one. I'm not sure whether this story originated from feedback we got about the snippet in one of the recruitment and marketing forums or from web solutions working with schools.
Looking at the arts school website, the standard film course does come before the Year Abroad course and I can't think of

[2015-07-31 09:59] jna-unikent commented on #637
@aw285-unikent no I have merely looked into it. happy to skip it and revisit if it pop its head again. I'm closing it. Thanks.

[2015-07-31 09:59] #637 closed

[2015-07-31 10:21] jna-unikent commented on #636
Also see: FP#676905

[2015-07-31 13:21] jna-unikent commented on #714
@aw285-unikent I'm supposing this should apply to the departmental snippets too?

[2015-07-31 13:32] aw285-unikent commented on #714
@jna-unikent yes please

[2015-07-31 13:42] jna-unikent commented on #714
@aw285-unikent sure thing.

[2015-08-03 08:59] jt353-unikent commented on #709
Discussed with Sam and Angela @aw285-unikent  @STC21-UniKent that we'd try a bullet list link the the student blogs below the Student Experience promo as they are trying to do similar things. We'll also include a strong promotion to the student blogs on the new Student Experience page design.

![course-student-profile](https://cloud.githubusercontent.com/assets/4367005/9034229/f54f5ebc-39c5-11e5-8

[2015-08-03 09:57] eg270-unikent commented on #685
@aw285-unikent yes this was part of pantheon and has been rolled out
https://github.com/unikent/pantheon/pull/1282

[2015-08-03 09:57] #685 closed

[2015-08-03 10:14] eg270-unikent commented on #718
This has been rolled out this morning. Closing.

[2015-08-03 10:14] #718 closed

[2015-08-03 10:15] eg270-unikent commented on #714
Rolled out this morning. Closing.

[2015-08-03 10:15] #714 closed

[2015-08-03 10:15] eg270-unikent commented on #708
Rolled out this morning. Closing.

[2015-08-03 10:15] #708 closed

[2015-08-03 10:16] eg270-unikent commented on #641
Rolled out this morning. Closing

[2015-08-03 10:16] #641 closed

[2015-08-03 10:59] eg270-unikent commented on #595
PR: https://github.com/unikent/of-course/pull/730

[2015-08-03 11:02] eg270-unikent commented on #709
@jt353-unikent do you know what the link is going to be?

[2015-08-03 11:05] eg270-unikent commented on #413
@aw285-unikent is this something you wish to pursue?
The subject leaflets currently appear on the enquiry tab

[2015-08-03 11:06] eg270-unikent commented on #503
Looks like alt text has been applied to the PG locations but not to UG

[2015-08-03 15:51] jt353-unikent commented on #636
Concept for additional filters for school course snippet
![course-snippet-filter](https://cloud.githubusercontent.com/assets/4367005/9041425/d87d8d10-39ff-11e5-9259-7d41c92145e3.jpg)

[2015-08-04 11:21] eg270-unikent commented on #689
We have spoken with ID today. They also would like the ability to configure the snippet to only output those courses with 'Science without borders' enabled in the Programmes Plant.

[2015-08-04 12:50] jna-unikent commented on #709
@jt353-unikent @aw285-unikent do have a look at the implementation on www-test: http://www-test.kent.ac.uk/courses/undergraduate/181/computing. Happy to go live if you are...

[2015-08-06 11:44] eg270-unikent commented on #689
This is with Nathan Crouch for review.
Please can we update the snippet https://github.com/unikent/of-course/issues/689 with all available filtering options?

[2015-08-06 14:55] eg270-unikent commented on #722
@jt353-unikent is currently looking at this.

[2015-08-07 15:51] jt353-unikent commented on #722
@aw285-unikent @eg270-unikent
I've created a demo here using a feature approach - blocked categories with text and links:
http://pantheon.app.www-dev.kent.ac.uk/jt353/student-experience-page/

I've used the images I could find from the Flickr image library - it would be great to get stronger, more interesting images. Also for the students image, I've just mocked that up. We'd need to get some good

[2015-08-10 11:14] aw285-unikent commented on #722
@eg270-unikent @jt353-unikent have replied on email to say that it looks really good thanks :) Will catch up with you when everyone is back from holidays (I'm off again next week) to discuss further

[2015-08-10 15:30] aw285-unikent commented on #709
Hi @jna-unikent thanks for this - we don't need to roll this out until September - is that OK? (@stc21-unikent too)

[2015-08-10 15:40] aw285-unikent commented on #636
@eg270-unikent @jt353-unikent Hello thanks for this - is the 'More filters' bit on the side an alternative suggestion to having 'Showing all locations, all awards, all course types' or is this in addition to?

[2015-08-10 17:16] aw285-unikent commented on #413
Hi @eg270-unikent I think I will close this for now and re-open it if we get similar feedback in the future.I think the layout of the enquiries tab has changed since this was first opened and they are more prominent.

[2015-08-10 17:16] #413 closed

[2015-08-18 13:41] eg270-unikent commented on #709
This has been rolled out

[2015-08-18 13:41] eg270-unikent commented on #595
This has been rolled out

[2015-08-18 13:41] #595 closed

[2015-08-24 10:41] jna-unikent commented on #723
Hello @eg270-unikent, @aw285-unikent I have run the PG rollover script on www-test. Could you check that all looks good? https://webtools-test.kent.ac.uk/programmes/2016/pg/programmes

[2015-08-24 11:50] aw285-unikent commented on #723
@jna-unikent @eg270-unikent it looks good to me thanks except that the preview is not working and the programme deliveries aren't pulling through but not sure if they should be at this stage? Could you let me know please?

[2015-08-24 16:26] jna-unikent commented on #723
@aw285-unikent The preview didn't work because the overridable fields weren't rolled over, I forgot it. I've manually published it for now but I'll remember to do it on live tomorrow. I believe deliveries are run nightly so that should come through by morning.

[2015-08-24 16:39] aw285-unikent commented on #723
@jna-unikent great thank you :)

[2015-08-25 09:01] eg270-unikent commented on #723
Hi @aw285-unikent I've checked www-test this morning and the previews are working but the deliveries are not. I believe this is because we hadn't yet set up the task to run PG 2016 deliveries overnight. I'll run this manually and let you know.
It's probably worth us holding off on cloning the PG prospectus on live until we're happy that the deliveries are coming through on www-test. I'll update yo

[2015-08-25 10:10] eg270-unikent commented on #723
Hi @aw285-unikent there should now be deliveries for PG 2016 on test. I've setup a CRON so that we pull in the deliveries for 2016 when we do the rollover on live.
We're currently looking at doing the rollover on the live system, I'll update you again when it's complete.

[2015-08-25 10:40] eg270-unikent commented on #723
Hi @aw285-unikent we have now rolled over the prospectus on live and re-ran the import for the deliveries.

Thanks,
Edele

[2015-08-25 10:42] aw285-unikent commented on #723
Hi @eg270 - many thanks. I will email schools to tell them they can start editing their 2016 programmes.

[2015-08-25 13:11] eg270-unikent commented on #723
Hi @aw285-unikent are you happy for this issue to be closed or would you rather leave it open incase schools have feedback?

[2015-08-25 13:41] aw285-unikent commented on #723
@eg270-unikent could you keeep it open for a bit please? I had one person email about having problems logging in but not sure if that was user error - waiting to hear back.

[2015-08-25 16:35] aw285-unikent commented on #723
@eg270-unikent I didn't hear back so I will just close this for now. Thanks

Angela

[2015-08-25 16:35] #723 closed

[2015-08-28 10:26] aw285-unikent opened #740 "Ability to remove progammes from the inbox"
@eg270-unikent
As EMS

I would like the ability to remove programmes from the plant inbox

So I can remove programmes that cannot/do not need to be published and keep the inbox in order.

[2015-09-04 11:42] eg270-unikent opened #742 "Prepare for 2016 PG prospectus launch"
As EMS,

I want to be launch the PG prospectus on w/c 14th September

so that the 2016 programmes can be advertised

- [x] rollover prospectus in progs plant
- [x] put at /courses/postgraduate/2016 (before launch)
- ~~[ ] .htaccess so only staff can view (before launch)~~

@aw285-unikent can you confirm that we can remove the 2015 PG prospectus?

[2015-09-04 13:02] aw285-unikent commented on #724
Hi @eg270-unikent about 500 words maximum. it's so superusers can leave each other notes so we can delete old notes to get it within the word count when using it.

[2015-09-07 13:03] eg270-unikent commented on #740
Hi @aw285-unikent can you let me know what the use case is for this? Is it to reject programmes?

[2015-09-07 14:04] aw285-unikent commented on #740
@eg270-unikent
Hi Edele, the use case is to clear the inbox of programmes that can't be process for various reasons.

For example:
- Comparative Literature (Paris) - is currently suspended so we can't approve the changes and make it live.
- All the updates from Kim Britnell at the bottom of the inbox - we're not going to publish as they are for the 2015 entry prospectus which will be coming down s

[2015-09-07 14:11] gjmh-unikent commented on #740
ok so if we simply add an "Approve" button at teh bottom of the review page. that will remove its entry from your inbox but will not publish it to live, would that work?

[2015-09-07 14:41] aw285-unikent commented on #740
@gjmh-unikent yes I think that would work. thanks

[2015-09-08 09:45] eg270-unikent commented on #740
Hi @aw285-unikent this has been rolled to test, can you review and ensure you're happy for it to be rolled live?

[2015-09-08 12:10] aw285-unikent commented on #740
@eg270-unikent I tested this on two programmes and it worked well thanks. Happy for it to be rolled out.

[2015-09-08 14:40] eg270-unikent commented on #706
@aw285-unikent @jt353-unikent where should 'the application process' link to?

[2015-09-08 16:06] eg270-unikent commented on #740
Hi Angela, we're going to roll progs plant and of-course live tomorrow morning so this will be rolled out then.

[2015-09-08 16:12] eg270-unikent commented on #709
@aw285-unikent and @STC21-UniKent I thought this had already been rolled out but it'll be rolled out tomorrow

[2015-09-08 16:31] jna-unikent commented on #742
Hi @aw285-unikent

Please feel free to start publishing the PG 2016 programmes to live as and when they are ready. They should start appearing on the 2016 search page. E.g. on www-test: http://www-test.kent.ac.uk/courses/postgraduate/2016/search. This would allow you to test that the fees, modules etc. are being pulled in as expect.

We don't think there is a need to protect those pages since ther

[2015-09-09 08:36] eg270-unikent commented on #740
Rolled out today. Closing.

[2015-09-09 08:36] #740 closed

[2015-09-09 08:55] eg270-unikent commented on #709
Rolled out this morning. Closing.

[2015-09-10 13:04] eg270-unikent commented on #542
@aw285-unikent this seems to be a duplicate of #689, can this issue be closed?

[2015-09-10 13:11] aw285-unikent commented on #542
@eg270-unikent yes I'll close this one - must have forgot I'd added this.

[2015-09-10 13:11] #542 closed

[2015-09-10 16:55] aw285-unikent commented on #709
@eg270-unikent Hi Edele, re-opening. Please could the link also go on PG? on the 'Why study at Kent?' button at the bottom. https://www.kent.ac.uk/courses/postgraduate/201/visual-anthropology

Many thanks

Angeka

[2015-09-11 09:10] eg270-unikent commented on #709
HI @aw285-unikent for this section, the same styles apply for UG and PG. Therefore, you just need to add the link to the postgraduate/links/learnmore.html page. I've done this for you and pushed it live this morning.

[2015-09-11 09:48] aw285-unikent commented on #709
@eg270-unikent Ah I see, sorry and thank you!

[2015-09-11 09:48] #709 closed

[2015-09-11 13:05] aw285-unikent opened #744 "Removal of UG 2015 prospectus"
@eg270-unikent we will be removing links to the UG 2015 prospectus on 18th September. I forget it you usually take down the web pages too? Please could you remind me?

Also, what's Harry's github ID, please? I assume I should start tagging both of you now?

[2015-09-11 13:39] aw285-unikent opened #745 "Change 'Honours type' to 'Award type'"
As EMS

I would like to Change 'Honours type' to 'Award type' on the key facts to better reflect the nature of the content.

[2015-09-11 14:00] eg270-unikent commented on #744
@aw285-unikent No we keep the pages as we did for the UG 2014 prospectus but CC will need to update the megamenu etc.  We'll just need to update the config file to turn clearing off - I've already put a system booking in for this.

Harry hasn't setup his github account yet. I've asked him to do this today. He'll be hk284-unikent once done.

[2015-09-14 09:31] eg270-unikent commented on #742
Hi @aw285-unikent you should be good to go when you're ready to put the PG prospectus live. Published courses such as http://www.kent.ac.uk/courses/postgraduate/2016/1/actuarial-science are already live, but once you change the years over to 2016 the banner about the course being for an upcoming academic year should disappear.

Let me know if you have any issues

[2015-09-14 11:48] aw285-unikent commented on #742
@eg270-unikent thanks for making the changeover. I've changed the front- and backend years to 2016 in the programmes plant and all looks to be OK. Many thanks

[2015-09-14 11:48] #742 closed

[2015-09-14 12:01] eg270-unikent opened #746 "Checklist for a new prospectus launch"
I'm just creating this ticket as a reminder for when we do a prospectus rollover (UG - February, PG - August/September).

- [ ] run rollover script on www-test
- [ ] roll over overridable fields (if using capistrano task this should be done for you)
- [ ] Once above is QA'd, run rollover script on www-live
- [ ] update CRON to pull in SITS deliveries for new rollover year (i.e. UG 2017 etc)
- [ ]

[2015-09-14 12:01] eg270-unikent commented on #746
Closing this as we should be able to search for this ticket when we need to :+1:

[2015-09-14 12:01] #746 closed

[2015-09-14 13:44] aw285-unikent commented on #746
@eg270-unikent Would it be possible to add a task to this please:

to un-check any programmes that have had the 'new programme' check-box checked on the new prospectus year (eg when doing the clone). I forgot to request this for PG so will do it manually but it would be good if this could be done programatically as part of the rollover if possible. Thanks, Angela

[2015-09-14 13:46] eg270-unikent commented on #746
@aw285-unikent I've added that to the checklist above.

[2015-09-18 08:17] jt353-unikent commented on #706
Hi @aw285-unikent - I just wanted to check, are these correct application links to link to from the course application page?

Undergrads:
https://www.kent.ac.uk/courses/undergraduate/apply/how.html

Postgrads:
https://www.kent.ac.uk/courses/postgraduate/apply/

[2015-09-18 08:58] eg270-unikent commented on #744
Hi @aw285-unikent we turned off clearing this morning. However, with the UG prospectus we still have the banner 'This is a 2016 entry programme. Would you like to view <course> for 2015 entry?' Do you want this to be removed?

[2015-09-18 09:25] aw285-unikent commented on #744
@eg270-unikent yes please

[2015-09-18 09:37] eg270-unikent commented on #744
Hi @aw285-unikent as we're outside of our booking slot now (it ended at 10am), we would need to put another booking in place to remove this text. Can it wait until Monday? If not, I'll need to speak to the Head of IT Support to try to get an emergency booking to roll live today. Change is already on www-test.

[2015-09-18 09:41] aw285-unikent commented on #744
@eg270-unikent Hi Edele, I'm really sorry but I don't think it can wait until Monday because the 2015 pages have the apply button on them and so it still looks like you can apply for 2015 entry (eg for part-time study). Is there any way the 2015 pages can come down or a custom error 404 added to them to redirect people to the current UG course search? (that part could wait until the next booking b

[2015-09-18 10:03] eg270-unikent commented on #744
@aw285-unikent I've rolled out the change to the banner just now. The 2014 pages are still live but are not linked to http://www.kent.ac.uk/courses/undergraduate/2014/ but as the pages are not linked to, users would need to go directly to these pages. I think a better option might be to remove the apply links from the 2014 and 2015 prospectus.

[2015-09-18 10:20] aw285-unikent commented on #744
@eg270-unikent happy to remove the apply links and leave the pages up for reference if that is the idea behind keeping them live.

[2015-09-18 10:58] eg270-unikent commented on #744
OK - I'll add it to our BAU backlog - can you let me know where it fits priority wise?

[2015-09-18 11:00] aw285-unikent commented on #744
@eg270-unikent above 'notes field on programmes plant' - thanks, Angela

[2015-09-18 11:04] aw285-unikent commented on #706
@jt353-unikent yes they would be the best links. I did start looking at adding information to these pages to prepare part-time UG and FT and PT PG students before they complete the online application form (for example, to tell them how many references they need etc) but that has fallen by the wayside slightly as I'm so short-staffed at the moment.

[2015-09-23 09:47] eg270-unikent opened #749 "Remove apply links on old UG prospectus"
We leave the UG 2014 and 2015 pages up, but please can we remove the apply links from these?

We need to be careful about the logic as when we have 2 prospectuses running (e.g. from Feb 2016 to Sep 2016 we'll have UG 2016 and UG 2017) so will want the apply links on both of those.

[2015-09-23 09:47] eg270-unikent opened #750 "Modules not showing on prospectus"

[2015-09-23 09:47] eg270-unikent opened #751 "Courses JS blocked"
FP#690954

[2015-09-23 09:47] eg270-unikent opened #752 "Flexible tabs on course summary snippet"

[2015-09-23 09:47] eg270-unikent opened #753 "[EPIC] Surface progression requirements on web (CEWL)"
As CEWL,

I would like our progression requirements for Kent International Pathways to be surfaced on the website

so that those on foundation students know how to progress to a full UG course

- data table like finance?
- put into programmes plant? surface on prospectus?

[2015-09-23 09:50] eg270-unikent commented on #706
Hi @aw285-unikent will this need to apply to Full-time UG atypical courses as well?

[2015-09-23 10:03] eg270-unikent opened #754 "Notes field on programme pages"
Some thought required for this
- Should this go into revisions?
- Don't want this field output in the API

[2015-09-23 10:05] eg270-unikent commented on #636
@aw285-unikent we are unable to find anyone using a filterable summary snippet, do you know of any schools that are?

[2015-09-23 10:09] eg270-unikent commented on #745
Is this for both UG and PG?

[2015-09-23 10:10] eg270-unikent commented on #754
Duplicate of #724

[2015-09-23 10:10] #754 closed

[2015-09-23 10:11] eg270-unikent commented on #707
@aw285-unikent have you had a chance to discuss this further in EMS?

[2015-09-23 10:15] eg270-unikent commented on #689
Can we check the snippet for this? I think what I was referring to is adding some help text to the snippet to let international development know what the filters are

[2015-09-23 10:17] eg270-unikent opened #755 "Refactor apply logic on courses pages"
Need to check whether we can clean this up first.

At the moment, the apply logic is very messy and needs to be refactored.

[2015-09-23 10:19] eg270-unikent commented on #681
@aw285-unikent this is what the Module intro text does at the moment for UG. Do you want it to be renamed?

[2015-09-23 10:21] eg270-unikent commented on #628
@aw285-unikent did you discuss this one with Adam?

[2015-09-23 10:24] eg270-unikent commented on #615
@aw285-unikent do you know if people are still requesting this? Our advice to Tizard was to use the tab snippet and use multiple course summary snippets inside each tab snippet.

[2015-09-23 10:25] eg270-unikent commented on #599
@aw285-unikent can we have a discussion about this? How are student profiles currently stored? Are they likely to have images already?

[2015-09-23 10:27] eg270-unikent commented on #511
@aw285-unikent how would you like us to progress this feature request?

[2015-09-23 10:27] eg270-unikent commented on #492
@aw285-unikent is this one still blocked?

[2015-09-23 10:28] eg270-unikent commented on #465
@aw285-unikent is still something you're still looking to add?

[2015-09-23 10:29] eg270-unikent commented on #443
@aw285-unikent as this is one for SITS, can we close it on GitHub and move to FootPrints? (as SITS don't have access to this repo)?

[2015-09-23 10:31] aw285-unikent commented on #492
Hi @eg270-unikent yes - it's something we'd still like to do but there are issues with the image stock and resource required to get this off the ground. Do you want me to close this and re-open or leave it blocked? I don't mind either way.

[2015-09-23 10:31] eg270-unikent opened #756 "Change 'Honours type' to 'Award type'"

[2015-09-23 10:31] eg270-unikent opened #757 "Provide some documentation for International Development snippet filters"

[2015-09-23 10:32] eg270-unikent commented on #419
Hi @aw285-unikent we were considering using a list of the single award types to weight these higher than joint awards etc. What do you think?

[2015-09-23 10:33] eg270-unikent commented on #416
Hi @aw285-unikent this looks to have been done http://www.kent.ac.uk/courses/postgraduate/leaflets/index.html Can it be closed?

[2015-09-23 10:34] eg270-unikent commented on #404
@jt353-unikent can you take a look at this one please? It may be that when we have the new theme that this will no longer be an issue.

[2015-09-23 10:36] eg270-unikent commented on #356
Let's put this div back in :+1:

[2015-09-23 10:36] aw285-unikent commented on #416
Hi @eg270-unikent yes I have linked it into the site. Many thanks.

[2015-09-23 10:36] #416 closed

[2015-09-23 10:37] eg270-unikent commented on #355
@jt353-unikent this may cause issues when we try to do responsive. Can we user test to see if this would be useful to users?

[2015-09-23 10:39] eg270-unikent commented on #340
@jt353-unikent this no longer appears to be an issue?

[2015-09-23 10:42] eg270-unikent commented on #336
@jt353-unikent the reason we didn't was because of inconsistency with other sites. Although we did implement this for the 50th site.

[2015-09-23 10:42] eg270-unikent commented on #336
@aw285-unikent do you think this would be useful as well? Might be worth doing some user testing

[2015-09-23 10:44] aw285-unikent commented on #419
@eg270-unikent  is this for the 'filter course list' or main course search?

[2015-09-23 10:44] eg270-unikent commented on #297
Going to close this as the document doesn't exist any more and @gm268-unikent has now left the organisation.

[2015-09-23 10:44] #297 closed

[2015-09-23 10:46] aw285-unikent commented on #419
@eg270-unikent for the UG filtered course list, I wondered if the results could be listed under two different subheadings - 'single honours' and 'joint honours' with the single honours coming first? Just an idea as it might mean we can keep the results alphabetical but the more relevant subjects would come first?

[2015-09-23 10:46] eg270-unikent opened #758 "Follow up with Angela re: Problems with PG xcri feed"

[2015-09-23 10:46] eg270-unikent opened #759 "[EPIC] refactor of-course structure"
Use same shared libs as everything else

[2015-09-23 10:47] aw285-unikent commented on #443
hi @eg270-unikent keeping @STC21-UniKent in the loop on this one as he has been following it up since I posted this. Sam - is this already a footprints issue?

[2015-09-23 11:02] eg270-unikent opened #760 "Course finder - courses appearing too low on the page?"

[2015-09-23 11:02] eg270-unikent opened #761 "Float back-to-top arrow"

[2015-09-23 11:02] eg270-unikent opened #762 "Floating apply links and Key Informaton panel"

[2015-09-23 11:02] eg270-unikent opened #763 "Postgraduate courses banner - make a link"

[2015-09-23 12:52] eg270-unikent commented on #529
@aw285-unikent I've checked this and we are  pulling in the main subject overview text for the XCRI feed. We haven't changed this for UG but as prospects will only be pulling in the PG programmes this should not be an issue in the short-term.

[2015-09-23 12:52] #529 closed

[2015-09-23 12:53] #760 closed

[2015-09-23 12:53] #761 closed

[2015-09-23 12:53] #762 closed

[2015-09-23 12:54] #763 closed

[2015-09-23 12:57] eg270-unikent commented on #131
I don't think this is still an issue as we rolled out a load of styling in the past year.

[2015-09-23 12:57] #131 closed

[2015-09-23 12:58] eg270-unikent commented on #125
@cs462-unikent is this still going to be an issue?

[2015-09-23 13:00] eg270-unikent commented on #92
HI @aw285-unikent is this something you would like us to pursue? Looks like the fees issue Lauren mentioned is still an issue.

[2015-09-23 13:16] eg270-unikent opened #764 "[Spike] How does Prospects handle nbsp;s?"
Looking at the XCRI feed we're sending a lot of &nbsp; characters. Can we investigate (probably via the validator) whether prospects converts these correctly? Might be worth following up with Clare Saunders who currently updates prospects.

[2015-09-23 13:31] eg270-unikent opened #765 "Missing (non-mandatory) fields in xcri cap"

[2015-09-23 13:31] eg270-unikent opened #766 "Global Settings Revision Diff process does not work!"

[2015-09-23 13:31] eg270-unikent opened #767 "Add unit tests to SITSImport"

[2015-09-23 13:31] eg270-unikent opened #768 "Auto-generated google sitemap"

[2015-09-23 13:31] eg270-unikent opened #769 "Documentation for of-course"

[2015-09-23 13:31] eg270-unikent opened #770 "[BUG] Error when adding/saving a user who doesn't have a department in LDAP"

[2015-09-23 13:31] eg270-unikent opened #771 "Link box error in IE"
This is quite an old issue but can we test on IE to see whether this is still an issue?

[2015-09-23 13:32] #765 closed

[2015-09-23 13:32] #766 closed

[2015-09-23 13:32] #767 closed

[2015-09-23 13:32] #768 closed

[2015-09-23 13:32] #769 closed

[2015-09-23 13:32] #770 closed

[2015-09-23 13:32] #771 closed

[2015-09-23 14:02] eg270-unikent opened #772 "Global settings field (or Immutable field) permissions storage"

[2015-09-23 14:47] aw285-unikent commented on #465
Hi Edele, could we have two immutable fields please? One that outputs on research programmes, and one that outputs on taught programmes. The content would be the last heading to output on the 'study support' tab eg.

[on taught programmes]

<heading> Global Skills Award <heading>

[Field copy] blah....

[on research programmes]

<heading> Researcher Development Programme<heading>

[Field copy] bla

[2015-09-23 14:47] aw285-unikent commented on #465
@eg270-unikent forgot to tag you (above)

[2015-09-23 15:27] eg270-unikent commented on #465
@aw285-unikent OK have added to sprint backlog.

[2015-09-23 15:34] aw285-unikent commented on #92
Hi @eg270-unikent yes I think prettying up the print style for the course pages would be worth pursuing. Suggestions would be:

- Add Kent logo
- reviewing heading sizes
- giving users the option to print full module descriptions or just a list of modules [not sure how possible that is?] - as the module descriptions can heavily increase the page count.
- moving key facts and fees to the first page

[2015-09-23 15:44] aw285-unikent commented on #443
@eg270-unikent , @STC21-UniKent is working on this with the SITS team so I will close this. We'll raise a seperate ticket if we need web dev's assistance in the future on this one.

[2015-09-23 15:44] #443 closed

[2015-09-24 09:40] eg270-unikent commented on #92
@aw285-unikent do you know who is using this?

[2015-09-24 09:42] eg270-unikent commented on #165
Blocked until new publishing platform.

[2015-09-24 09:58] eg270-unikent commented on #355
Have spoken with Jonathan who thinks this is no longer relevant

[2015-09-24 09:58] #355 closed

[2015-09-24 10:24] aw285-unikent commented on #92
@eg270-unikent just any users who want to print out the course information online rather than read it onscreen?

[2015-09-24 14:17] eg270-unikent opened #773 "Report to Angela - MySQL length check on programme overview field"
Send a report to angela for programmes where programme overview exceeds 3000 characters/450 words

[2015-09-24 14:17] eg270-unikent opened #774 "Add character limit to Programme Overview field"
At the moment we say 'Max 300 words' for the programme overview field but don't actually enforce it. Please can we up the limit to 3000 characters (~450 words).

Can we replicate what we do for the abstract field where if you go over the limit it highlights in red?

[2015-09-24 14:17] eg270-unikent opened #775 "Create new PP field for 'About school' with character limit"
Can we create a new field for 'about school' and set this limit to 250 words?
Should appear underneath programme overview field in PP and will need to add it to the output so it appears in the same place on courses.

[2015-09-29 14:21] gjmh-unikent commented on #465
@aw285-unikent
what about courses that are Taught-research?
should we display either/both?

[2015-09-29 14:58] aw285-unikent commented on #465
@gjmh-unikent i would go with neither... I don't know enough about those courses to know if either programme is relevant but schools could always add it manually if it is.

[2015-09-29 16:26] aw285-unikent commented on #336
@eg270-unikent I will defer to Jonathan on this one as I'm not sure what's standard practice on mobile?

[2015-09-29 16:27] aw285-unikent commented on #511
@eg270-unikent can we put this on the backburner for now (keep it blocked but on github please) as I need to give this more thought when there's more time.

[2015-09-29 16:29] aw285-unikent commented on #599
@eg270-unikent hi another one for the backburner - will review when Fritha is back

[2015-09-29 16:30] aw285-unikent commented on #615
@eg270-unikent I don't get much feedback on the snippet so I'm not sure if this is still an issue. I presume the tab solution is a good workaround Happy to leave this for now.

[2015-09-29 16:30] #615 closed

[2015-09-29 16:31] aw285-unikent commented on #628
@eg270-unikent yes i think they resolved this by adding tabs to the finance table. will close.

[2015-09-29 16:31] #628 closed

[2015-09-29 16:38] aw285-unikent commented on #681
@eg270-unikent strictly, the modules intro field is supposed to be for overriding the modules disclaimer    with an adjusted version of the disclaimer but I think we might have strayed from this to get more details in about the course structure. We'll carry on with that for now as we all know to check that the right disclaimer is in place, as do schools. I'll close this one.

[2015-09-29 16:38] #681 closed

[2015-09-29 16:44] aw285-unikent commented on #707
@eg270-unikent Will close this one for now as it would be way down the line before we could implement this.

[2015-09-29 16:44] #707 closed

[2015-09-29 16:44] aw285-unikent commented on #745
@eg270-unikent just UG please

[2015-09-29 16:45] aw285-unikent commented on #636
@eg270-unikent I didn't know there was a filterable summary snippet?

[2015-09-29 16:47] aw285-unikent commented on #706
Hi @eg270-unikent no I think it's best to leave it off those courses.

[2015-09-30 09:30] eg270-unikent opened #779 "Fees Display upon anchor tag usage"
As a user, if I got to http://www.kent.ac.uk/courses/postgraduate/174/applied-actuarial-science#fees-tables-link than I would like fees table to automatically open so that I can see it.

Context example: coming in from prospects via the link http://www.kent.ac.uk/courses/postgraduate/174/applied-actuarial-science#fees-tables-link

[2015-09-30 14:56] eg270-unikent opened #780 "Change course fees output in XCRI feed"
Should follow this structure:

Full Time UK / EU: GBP X | Part Time UK / EU: GBP Y | Full Time Overseas: GBP Z | Part Time Overseas: GBP A

Where X,Y,Z,A represent numerical values only.

e.g. for [applied-actuarial-science](http://www.kent.ac.uk/courses/postgraduate/174/applied-actuarial-science)

it should be:
Full Time UK / EU: GBP 11,310 | Part Time UK / EU: GBP 5,650 | Full Time Overseas: GBP

[2015-10-01 15:33] jna-unikent commented on #92
@aw285-unikent unfortunately there is no easy way of allowing the user to choose whether or not to print the modules section. We can either include it or hide it altogether...

[2015-10-01 15:35] aw285-unikent commented on #92
hi @jna-unikent probably best to include it then.

[2015-10-02 08:49] eg270-unikent opened #785 "Add information on how to apply to the apply page"
Immutable field for this?

[2015-10-02 10:27] jna-unikent commented on #92
@aw285-unikent unfortunately moving key facts and fees to the first page before the overview would be quite difficult. It would need rethinking the entire structure of how the course pages are put together. I'm not sure that the benefit would outweigh the cost here.

[2015-10-02 14:47] aw285-unikent commented on #92
@jna-unikent no problem

[2015-10-05 08:37] eg270-unikent commented on #336
Jonathan wanted us to go ahead with this. Unfortunately it didn't make it out of the sprint backlog last week as it was low priority. It will need to be looked at at a later date. I'm removing the milestone for this.

[2015-10-05 08:41] eg270-unikent commented on #706
This didn't make it out of the sprint backlog, @aw285-unikent this probably needs to be re-prioritised for BAU

[2015-10-05 10:07] eg270-unikent commented on #710
@aw285-unikent Greg did some work for this last week which is currently on test http://www-test.kent.ac.uk/courses/undergraduate/1/accounting-and-finance-and-economics

[2015-10-05 10:13] eg270-unikent commented on #92
@jna-unikent have these changes been rolled to test already?

[2015-10-05 10:42] eg270-unikent commented on #404
@aw285-unikent this is currently on test. I've asked @jt353-unikent to review the 'Choose a course that's right for you. Learn more' - I think an underline would make it more clear but perhaps it needs some user testing.

[2015-10-05 10:48] eg270-unikent commented on #722
@jt353-unikent has there been any progress on this one?

[2015-10-05 16:58] aw285-unikent commented on #404
@eg270-unikent Yes, I thought the same earlier - when I first saw it, I thought it was a link rather than a drop down for some reason.

[2015-10-06 03:47] aw285-unikent commented on #710
@eg270-unikent thanks Edele - we are working on the pages these link to but this can be rolled out in the meantime. Thanks
Angela

[2015-10-06 08:42] eg270-unikent commented on #745
Rolled out this morning. Closing.

[2015-10-06 08:42] #745 closed

[2015-10-06 08:42] eg270-unikent commented on #710
Rolled out this morning. Closing.

[2015-10-06 08:42] #710 closed

[2015-10-06 08:44] eg270-unikent commented on #404
Rolled out this morning, awaiting cache to clear. @jt353-unikent please review design based on our feedback ^^

[2015-10-06 08:48] eg270-unikent commented on #92
These have been rolled to live this morning.

[2015-10-06 08:49] eg270-unikent commented on #780
This was rolled out this morning.

[2015-10-06 08:49] #780 closed

[2015-10-06 08:51] #773 closed

[2015-10-06 08:51] #774 closed

[2015-10-06 08:51] #775 closed

[2015-10-06 08:52] #755 closed

[2015-10-06 08:52] #756 closed

[2015-10-06 08:52] #759 closed

[2015-10-06 08:55] eg270-unikent commented on #744
see #749 for action on this story. Closing this one.

[2015-10-06 08:55] #744 closed

[2015-10-06 08:55] #92 closed

[2015-10-06 08:55] #465 closed

[2015-10-06 08:55] #724 closed

[2015-10-06 08:55] #750 closed

[2015-10-26 11:11] eg270-unikent commented on #764
These have been encoded. Prospects cannot have a nbsp directly before or after another character such as a ?

[2015-10-26 11:11] #764 closed

[2015-11-12 12:16] #749 closed

[2015-11-12 12:18] #753 closed

[2015-11-12 12:25] #151 closed

[2015-11-19 09:03] #356 closed

[2015-11-25 16:10] eg270-unikent commented on #125
I'm going to close this issue as we have 4 digit IDs in place now, e.g. http://www.kent.ac.uk/courses/undergraduate/2016/1384/applied-sport-and-exercise-science so don't think this is required anymore.

[2015-11-25 16:10] #125 closed

[2015-11-30 14:33] jt353-unikent commented on #336
Had a conversation with Carl - this issue is not longer relevant as we are moving towards the new theme design.

[2015-11-30 14:33] #336 closed

[2015-12-01 16:53] eg270-unikent commented on #706
@aw285-unikent do you want to proceed with adding this text to the of-course apply pages?

If so do you need to be able to update this text easily (i.e. does it need to be in Programmes Plant) or can we hard code it?

[2015-12-02 14:20] aw285-unikent commented on #706
Yes please – I can only see us needed to change the link, so I’m happy for you to hardcode it and then update the links if we ever need to. Or add it to the progs plant. Whatever’s easiest for your team.

Thanks

Angela

_____________________________________________________________________________
Angela Watson | Digital Communications Manager | Digital Communications Unit, Publishing Office |
Enr

[2016-01-11 10:04] eg270-unikent commented on #706
Hi @aw285-unikent this change was deployed live this morning. Please can you check it's working as expected and let me know if there's any issues with this change?

[2016-01-14 14:22] #689 closed

[2016-01-14 14:23] #757 closed

[2016-01-14 14:23] #785 closed

[2016-01-14 14:24] #751 closed

[2016-01-25 15:04] eg270-unikent opened #817 "Search links containing spaces for course pages broken (pantheon?)"
FP#758632

[2016-01-27 09:45] #165 closed

[2016-01-27 09:50] #706 closed

[2016-01-27 09:50] eg270-unikent opened #818 "Create a "Click test" for of-course & PP site."

[2016-01-27 09:50] eg270-unikent opened #819 "Refactor PG module structure ( pg tab, structure, line 32), so that complexity is handled in API not views"

[2016-01-27 09:50] eg270-unikent commented on #752
Awaiting new design

[2016-01-27 09:51] #752 closed

[2016-01-27 10:24] eg270-unikent opened #820 "Task: Speak to Foo about creating a proxy for programmes plant API to be served up on api.kent"
- Ask for nginx level proxy
- Can we return the same response headers?

[2016-01-27 10:52] eg270-unikent opened #821 "Update rollover script to publish new programmes to live (instead of in draft)"
As a PP editor,

I would like a preview of the website for 2017 UG programmes with the course search

so that admissions can check entry requirements without having to go into the programmes plant

previously a url has been sent around so that users can preview

[Est: 3]

[2016-01-27 10:52] eg270-unikent opened #822 "Clone UG prospectus for 2017 entry"
As EMS,

I would like to have a version of the UG prospectus available in Programmes Plant for September 2017 entry

so that we can prepare programmes and review with schools prior to the 2017 prospectus launch (on 29th February)

- use capistrano script to rollover UG programmes

[Est: 3]

[2016-01-27 10:52] eg270-unikent opened #823 "Update CRON tasks to pull in modules etc for the 2017 UG programmes"
Double check it does on current

[Est: 2]

[2016-01-27 10:52] eg270-unikent opened #824 "Add a .htaccess file in with BasicAuth in 2017 folder"
[Est: 1]

[2016-01-27 10:52] eg270-unikent opened #825 "BUG - Global Settings Revision Diff proccess does not work!"
Viewing revision differneces for GlobalSettings does not work.

Old functions are called when retrieveing the revision and the view doesn not exist.

suspect this affects ProgrammeSettings too.

[Est: 5]

[2016-01-27 12:39] eg270-unikent opened #828 "Click test - Course search bar"
This card should be used for when we deploy of-course to live, to check that we haven't messed up the content on our online prospectus

The search bar currently looks like this (as of 27th January 2016):
![searchbar](https://cloud.githubusercontent.com/assets/6604537/12613110/5a08a070-c4ef-11e5-891d-9e7c33f7aa33.PNG)

Search bar loads on:
- [ ]  https://www.kent.ac.uk/
- [ ] https://www.kent.ac.uk

[2016-01-27 12:39] eg270-unikent opened #829 "Click test - Courses A-Z"

[2016-01-27 14:26] eg270-unikent opened #830 "Click test - Individual course page"
This card should be used for when we deploy of-course to live, to check that we haven't messed up the content on our online prospectus

### Undergraduate

#### Tabs
The following tabs appear:
- [ ] Overview
- [ ] Course structure
- [ ] Teaching & Assessment
- [ ] Careers
- [ ] Entry requirements
- [ ] Funding

- [ ] Apply button
- [ ] Contact us or order a prospectus link
- [ ] Key facts
- [ ] Fee

[2016-01-28 11:06] eg270-unikent opened #832 "Module Handbook Pages"

[2016-01-28 12:58] eg270-unikent opened #833 "Click Test - Individual Programme Page - Postgraduate"
## Postgraduate

The following tabs appear:
- [ ] Overview
- [ ] Course structure
- [ ] Study support
- [ ] Careers
- [ ] Entry requirements
- [ ] Research areas
- [ ] Staff research

### Side Panel
- [ ] Apply button
- [ ] Contact us or order a prospectus link
- [ ] Key facts
- [ ] Fees

[2016-01-28 16:22] eg270-unikent opened #835 "Click Test - Individual Programme Page - Enquiries tab"
- [ ] heading at top of tab **Enquire or order a prospectus** (h2)
- [ ] each delivery as a heading (h3) with award abbreviation
  - [ ] Each mode of study as a bullet point (Full-time|Part-time)
    - [ ] Mode of study text is bold
    - [ ] Hyphen between mode of study and links
    - [ ] First link is Enquire Online
      - [ ] Underlined
      - [ ] Link opens in same tab
      - [ ] Links to

[2016-01-28 16:31] eg270-unikent opened #836 "Click Test - Individual Programme Page - Apply interim page"
URL: https://www.kent.ac.uk/courses/{under|post}graduate/apply-online/{programme_id}

- [ ] h1 heading **Your application: {name of course}
  - [ ] Course name is a link
    - [ ] Underlined
    - [ ] Link opens in same tab
    - [ ] Link brings you back to the individual programme page
- [ ] h2 Location appears beneath Your application heading
- [ ] Some text about the application process:
  - [

[2016-01-28 16:57] #832 closed

[2016-01-28 17:00] #818 closed

[2016-01-28 17:00] #819 closed

[2016-01-28 17:00] #821 closed

[2016-01-28 17:00] #822 closed

[2016-01-28 17:00] #823 closed

[2016-01-28 17:00] #824 closed

[2016-01-28 17:00] #825 closed

[2016-01-28 17:01] eg270-unikent commented on #820
Foo's only concern was if PP returned a redirect it may not be re-written correctly, but i don't think any PP api endpoints should be 301/2'ing....?

[2016-01-28 17:01] #820 closed

[2016-02-01 15:11] eg270-unikent opened #843 "Adding subject leaflets to key facts"
FP#753129

[2016-02-01 15:38] eg270-unikent opened #844 "BUG: Fix rollover creating duplicate immutatable fields section if they already exist. (both ug & pg rollover create this - check it doesnt already exist if we don't already)"

[2016-02-01 15:38] eg270-unikent opened #845 "BUG: on Immutable fields, the change year links in the top bar add an extra / and break routing."

[2016-02-03 10:37] eg270-unikent commented on #722
To be looked at as part of Kent Theme project.

[2016-08-31 15:29] eg270-unikent opened #877 "Key info headings to be primary colour"
info headings are black - should be ug or pg colours

[2016-08-31 15:29] eg270-unikent opened #878 "Location to be in gold"

[2016-08-31 15:29] eg270-unikent opened #879 "Award to have tooltip info icon"

[2016-08-31 15:29] eg270-unikent opened #880 "Title to overlay image"

[2016-08-31 15:29] eg270-unikent opened #881 "Apply button to be aligned bottom right of title block"

[2016-08-31 15:29] eg270-unikent opened #882 "Spacing needed below key info section - all squashed up at the moment"
pair with Jonathan

[2016-08-31 15:29] eg270-unikent opened #883 "Separate duration and start so that there are equal elements in each column"
Please pair with Jonathan

[2016-08-31 15:29] eg270-unikent opened #884 "- Course search to be added at the top of the page"

[2016-08-31 15:42] eg270-unikent opened #885 "Remove colons from title labels"
Please pair with Jonathan on this - no design at the moment for this

[2016-08-31 15:42] eg270-unikent opened #886 "Independent rankings box needs background"
get the background on this as per the design

[2016-08-31 15:42] eg270-unikent opened #887 "Student profile feature - too much line spacing on heading"

[2016-08-31 15:42] eg270-unikent opened #888 "Feedback mechanism"
Think about the way to do this and tools

[2016-09-01 08:17] #758 closed

[2016-09-01 08:17] #817 closed

[2016-09-01 08:17] #843 closed

[2016-09-01 08:17] #844 closed

[2016-09-01 08:17] #845 closed

[2016-09-01 08:17] #877 closed

[2016-09-01 08:17] #878 closed

[2016-09-01 08:17] #879 closed

[2016-09-01 08:17] #880 closed

[2016-09-01 08:17] #881 closed

[2016-09-01 08:17] #882 closed

[2016-09-01 08:17] #883 closed

[2016-09-01 08:17] #884 closed

[2016-09-01 08:17] #885 closed

[2016-09-01 08:17] #886 closed

[2016-09-01 08:17] #887 closed

[2016-09-01 08:17] #888 closed

[2016-09-30 17:53] #340 closed, assigned to nobody

[2016-09-30 17:53] #404 closed, assigned to jt353-unikent

[2016-09-30 17:53] #636 closed, assigned to nobody

[2016-12-08 15:36] gjmh-unikent commented on #492
finally done!

[2016-12-08 15:36] #492 closed

[2016-12-08 15:37] eg270-unikent commented on #599
@aw285-unikent can this finally be closed with the new beta pages?

[2017-01-04 18:46] aw285-unikent commented on #599
Hello, yes this can be closed

Thanks

Angela

_____________________________________________________________________________
Angela Watson | Digital Communications Manager | Digital Communications Unit, Publishing Office |
Enrolment Management Services | University of Kent |
Room G46, The Registry, Canterbury, Kent, CT2 7NZ, UK
Tel: +44 (0)1227 827450 | E-mail: a.watson@kent.ac.uk | Fax: +44 (0)12

[2018-04-16 15:20] cfc7-unikent opened #1004 "Branch naming and usage"
@jtisqo @samyapp @theninja @markfendley @gnozu

We seem to be using the beta branch as the master *and* develop branch for this repo.
Looking at the deploy script I see [we are deploying to test and live from beta](https://gitlab.kent.ac.uk/IS/deploy/blob/master/of-course/deploy.php).

I've no idea why, does anyone know? I get confused everytime.

If there's not a reason for it I suggest that we c

[2019-01-14 12:14] cfc7-unikent commented on #1004
Resolved by https://github.com/unikent/of-course/pull/1017

[2019-01-14 12:14] #1004 closed